body {        
    font-family: "Arial";
    font-size: 120%;
    background-image: url("../img/fondo.jpg");
    
}   

.navbar-center
{
    position: absolute;
    text-align: center;
    margin: auto;
    margin-top:10px;
    margin-left: 25%;
}


.navbar-center-music
{
    position: absolute;
    text-align: center;
    margin: auto;
    margin-top:10px;
   
}

.music-label{
    font-family: "Arial";
    font-size: 140%;
    color:white;
    text-align: center;
}

 a:hover {
  cursor:pointer;
 }
.navbar .navbar-form{
  display: inline-block;
  float: none;
  
}

.form-horizontal .control-label {
text-align:left;

}
